
.container{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-color: #a4c3b2;
  color: #4B4453;
  margin: 50px;
  border-radius: 20px;
  width: 90%;
  justify-content: center;
}

h1{
  color: #081c15;
}


