<body class="mat-app-background">

<mat-toolbar>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="meuMenu"
              #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #meuMenu="matMenu">

        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>

        <button mat-menu-item routerLink="/formulario">
          <mat-icon>assignment</mat-icon>
          <span>Formulário</span>
        </button>

      </mat-menu>
    </span>
    <span>My App</span>
</mat-toolbar>

<router-outlet/>

</body>





