/*.conteiner{
  display: flex;
  flex-flow: column;
  align-items: center;
}*/

form{
  flex-flow: column;
  margin: 30px;
}

mat-form-field, button, mat-toolbar{
  width: 100%;
}

table{
  margin-top: 30px;
  width: 100%;
}

mat-toolbar{
  padding: 30px;
}


